---
---

@import "{{ site.theme }}";

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1.title {
    font-size: 40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1.title {
    font-size: 7vw;
  }
}

h1.title {
   text-align: left;
   font-family: monospace;
}

.wrapper {
    max-width: 675px;
    width: 99%;
    margin: 0 auto;
}

p.tagline {
   padding-top: 0px;
}

footer .owner .avatar {
   max-width: 60px;
}

.markdown-body table {
   max-width: 673px;
   width: 100%;
}


@media only screen and (max-width: 600px) {
  .current-section {
    left: 0px;
    margin-left: 0px;
    max-width: 500px;
    width: 100%;
  }
  .download-bar {
    margin: 0;
  }
}
