---
---

@import "{{ site.theme }}";

h1.title {
   text-align: left;
   font-size: 8vw;
}

.wrapper {
    max-width: 675px;
    width: 99%;
    margin: 0 auto;
}

.current-section {
   max-width: 500px;
   width: 100%;
}

footer .owner .avatar {
   max-width: 60px;
}

.markdown-body table {
   max-width: 673px;
   width: 100%;
}


.current-section {
   left: 0px;
   margin-left: 0px;
}


.download-bar {
   margin: 0;
}
