---
---

@import "{{ site.theme }}";

@media only screen and (max-width: 750px) {
   h1 {  font-size: 40px; 
      }
 }

h1.title {
   text-align: left;
}

.wrapper {
    max-width: 675px;
    width: 99%;
    margin: 0 auto;
}
